@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.container {
    background-color: #dac0ff;
}

.heading {
    font-size: 48px;
    color: #690cb0;
    font-weight: bold;
}

.paragraph {
    color: #3e4c59;
    padding: 10px 0px 10px;
    font-size: 18px;
}

#bg-context {
    background-color: #f3eaff;
    border: 1px solid #9aa5b1;
    border-radius: 15px;
    padding: 30px;
}

.quote-Display {
    font-size: 20px;
    font-weight: 500;
}

#quoteInput {
    border: 1px solid #9aa5b1;
}

#timer {
    display: inline-block;
    align-items: center;
    font-size: 30px;
    font-weight: 600;
    padding-left: 35px;
    padding-right: 10px;
}

#result {
    margin-top: 23px;
    font-size: 20px;
}

#submitBtn {
    background-color: #690cb0;
    color: white;
    font-weight: 600;
}

.font-text {
    font-size: 23px;
}